/* Modal
/* ------------------------- */

.custom-overlay {
    background: rgba(0, 0, 0, .7);
}

.custom-modal {
    z-index: 100000 !important;
    margin: 0 auto !important;
    background: #fff;
    max-height: 100vh;
    min-width: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 25px !important;
    padding: 35px;
}

.styles_closeButton__20ID4 {
    padding: 7px;
    top: 0 !important;
    right: 0 !important;
}

/* Spinner
/* ------------------------- */

.transition-exit {
    transform: scale(1);
}

.transition-exit-active {
    transform: scale(0);
    transition: transform 1000ms ease;
}

.spinner-overlay {
    background: rgba(26, 36, 47, .8);
}

.spinner-modal {
    margin: 5px !important;
    background: transparent;
    color: #fffcf5;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 auto !important;
}

.loader, .loader:before, .loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 20px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before, .loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}